{%extends 'admin_layout.html'%}
{%block content%}
<div class="welcome mt-lg-5 ms-lg-5">
<h4>All Couples</h4>
<hr>
{%if couplelist%}
{%for coup in couplelist%}
    
<div class="row justify-content-start mt-lg-2">

<div class="col-lg-11 quotes ms-lg-4">

    <p><a href="/admin/couples/{{coup.couple_id}}" class="all_admin_a">{{coup.couple_name}} </a></p>


</div>


</div>

{%endfor%}
{%else%}


    <div>
    
    
        <p>No quote Sent</p>
        <p> </p>
    
    
    </div>
    

{%endif%}

{%endblock%}